<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="eu.ddmore.mdllib.target" sequenceNumber="1510873477">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.1.v20170928-1321"/>
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.9.1.201705291011"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.jdt.feature.group" version="3.13.2.v20171130-0906"/>
<unit id="org.eclipse.pde.feature.group" version="3.13.2.v20171130-0510"/>
<unit id="org.eclipse.platform.feature.group" version="4.7.2.v20171130-0510"/>
<unit id="org.eclipse.xpand.feature.group" version="2.2.0.v201605260315"/>
<unit id="org.eclipse.xtend.feature.group" version="2.2.0.v201605260315"/>
<unit id="org.eclipse.xtend.typesystem.emf.feature.group" version="2.2.0.v201605260315"/>
<unit id="org.eclipse.xtext.redist.feature.group" version="2.12.0.v20170519-1412"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.12.0.v20170519-1412"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.12.0.v20170519-1412"/>
<repository location="http://download.eclipse.org/releases/oxygen/"/>
</location>
</locations>
</target>
