<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="eu.ddmore.mdllib.target" sequenceNumber="1510873473">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jdt.feature.group" version="3.13.1.v20171009-0410"/>
      <unit id="org.eclipse.platform.feature.group" version="4.7.1.v20171009-0410"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.7.1.v20170928-1359"/>
      <unit id="org.eclipse.pde.feature.group" version="3.13.1.v20171009-0537"/>
      <unit id="org.eclipse.draw2d.feature.group" version="3.10.100.201606061308"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
      <unit id="org.eclipse.xpand" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.typesystem.emf" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.12.0.v20170519-1412"/>
      <repository id="eclipse-repo" location="http://download.eclipse.org/releases/oxygen/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.9.0.v201605261103"/>
      <repository id="mwe-repo" location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.9.0/"/>
    </location>
  </locations>
</target>
