<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>




   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MdlLib -->
      <package
            uri="http://eu.ddmore.mdl.mdllib/mdl/mdllib/MdlLib"
            class="eu.ddmore.mdl.mdllib.mdllib.MdlLibPackage"
            genModel="model/custom/MdlLib.genmodel"/>
   </extension>

</plugin>
